streamlit>=1.32
pandas>=2.2
numpy>=1.26
altair>=5.0
networkx>=3.2
plotly>=5.18
kaleido>=0.2          # for SVG export
scipy>=1.11
scikit-posthocs>=0.9.0
matplotlib>=3.8
seaborn>=0.13
openpyxl>=3.1         # for .xls/.xlsx uploads
pyarrow>=15.0         # faster CSV / Parquet support